/* SHADOW  */

.textshadow {
    text-shadow: -2px 1px 2px red;
    font-size: 5em;
}


/* NAVBAR STYLE */

.nav-font {
    font-size: 1.5em;
}

.first-color {
    color: #FF206E!important;
    font-weight: bold;
}

.first-color:hover {
    color: #fc4e91!important;
}

.second-color {
    color: #FBFF12!important;
    font-weight: bold;
}

.second-color:hover {
    color: #fdff6a!important;
}

.third-color {
    color: #41EAD4!important;
    font-weight: bold;
}

.third-color:hover {
    color: #a1ebe1!important;
}

.first-neutral {
    color: white!important;
    font-weight: bold;
}

.first-neutral:hover {
    color: rgb(254, 208, 208)!important;
}

.second-neutral {
    color: black!important;
    font-weight: bold;
}


/* FOOTER STYLE */

.footer-background {
    background-color: black;
}


/* BODY  BACKGROUND */


/* .background {
    background-color: #161A1D;
} */

.background-second {
    background-color: #03071e9e;
}

.imglogo {
    border-radius: 50%;
}

.background {
    background: linear-gradient(-45deg, #161A1D, #03071e, #161a1d, #01161e);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}


/* TEXT COLOR */

.text-color {
    color: beige;
}

.first-text-color {
    color: #FF206E!important;
}

.second-text-color {
    color: #FBFF12!important;
}

.third-text-color {
    color: #41EAD4!important;
}

.first-text-neutral {
    color: white!important;
}

.second-text-neutral {
    color: black!important;
    text-shadow: 0 0 2px #ffffff!important;
}

.third-text-neutral {
    color: #B1A7A6;
}


/* TEXT ALIGN */

.text-ali {
    text-align: center;
}


/* TEXT BOLD */


/* .text-bold{

} */


/* BANNER STYLE */

.background-banner {
    background-image: url("../../public/keyboard.jpg");
    background-repeat: no-repeat;
    background-position: static;
    background-size: cover;
    background-attachment: fixed;
}

.background-box {
    background-color: #03071ed2;
    color: blanchedalmond;
}

.background-button {
    background-color: #FF206E!important;
    color: blanchedalmond;
}


/* LINE CLAMP */

.line-clamp {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    /* number of lines to show */
    -webkit-box-orient: vertical;
}


/* HOME PAGE TITLE NEWS */

.latestNews {
    color: white;
    text-shadow: 2px 2px 5px black, 0 0 40px #FF206E, 0 0 20px #ed1f67, 0 0 10px #c90036;
    font-size: 3em;
}


/* BORDER BOTTOM  */

.border-bot {
    border-bottom: #FF206E solid 2px;
}

.background-button-color {
    background-color: #FF206E!important;
}

.background-button-color:hover {
    background-color: #ff206e00!important;
    border: solid 1px #FF206E!important;
    color: #FF206E!important;
}


/* TRYING SHIT */

.try:nth-of-type(3n+1) {
    color: #ff206e;
    text-shadow: 0 0 3px #a10eb8;
}

.try:nth-of-type(3n+2) {
    color: #fbff12;
    text-shadow: 0 0 3px #6d5700;
}

.try:nth-of-type(3n+3) {
    color: #41ead4;
    text-shadow: 0 0 3px #0031ae;
}

a:hover {
    color: white;
}

.otherborder {
    border-bottom: 2px solid;
}

.superbold {
    font-weight: bolder;
    font-size: 1.5em;
}


/* .otherbold {
    font-weight: bolder;
} */

.card-background {
    background-color: rgba(255, 235, 205, 0);
    box-shadow: 1px 1px 5px rgba(255, 235, 205, 0.419);
}


/* .try:nth-of-type(6n+4) {
    color: black;
}

.try:nth-child(6n+5) {
    color: yellow;
}

.try:nth-child(6n+6) {
    color: orange;
} */